.section-bar {
  margin: 3em auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  .title,
  .des {
    margin-bottom: 1em;
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
